AUTH=
DEV_HOSTNAME="https://dev.example.com/add"
PROD_HOSTNAME="https://example.com/add"
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=
CACHE_PURGE_KEY=
R2_ACCOUNT_ID="example-account-id"
R2_ACCESS_KEY_ID="example-access-key-id"
R2_SECRET_ACCESS_KEY="example-secret-access-key"
R2_BUCKET_NAME="example-snapshots-bucket"
